/* 黑桃区 */
.SA {
  background-position: -1984px -572px;
}
.S2 {
  background-position: -4px -572px;
}
.S3 {
  background-position: -170px -572px;
}
.S4 {
  background-position: -334px -572px;
}
.S5 {
  background-position: -500px -572px;
}
.S6 {
  background-position: -665px -572px;
}
.S7 {
  background-position: -830px -572px;
}
.S8 {
  background-position: -994px -572px;
}
.S9 {
  background-position: -1158px -572px;
}
.S10 {
  background-position: -1324px -572px;
}
.SJ {
  background-position: -1490px -572px;
}
.SQ {
  background-position: -1654px -572px;
}
.SK {
  background-position: -1820px -572px;
}
/* 红桃区 */
.HA {
  background-position: -1984px -4px;
}
.H2 {
  background-position: -4px -4px;
}
.H3 {
  background-position: -170px -4px;
}
.H4 {
  background-position: -334px -4px;
}
.H5 {
  background-position: -500px -4px;
}
.H6 {
  background-position: -665px -4px;
}
.H7 {
  background-position: -830px -4px;
}
.H8 {
  background-position: -994px -4px;
}
.H9 {
  background-position: -1158px -4px;
}
.H10 {
  background-position: -1324px -4px;
}
.HJ {
  background-position: -1490px -4px;
}
.HQ {
  background-position: -1654px -4px;
}
.HK {
  background-position: -1820px -4px;
}
/* 梅花区 */
.CA {
  background-position: -1984px -380px;
}
.C2 {
  background-position: -4px -380px;
}
.C3 {
  background-position: -170px -380px;
}
.C4 {
  background-position: -334px -380px;
}
.C5 {
  background-position: -500px -380px;
}
.C6 {
  background-position: -665px -380px;
}
.C7 {
  background-position: -830px -380px;
}
.C8 {
  background-position: -994px -380px;
}
.C9 {
  background-position: -1158px -380px;
}
.C10 {
  background-position: -1324px -380px;
}
.CJ {
  background-position: -1490px -380px;
}
.CQ {
  background-position: -1654px -380px;
}
.CK {
  background-position: -1820px -380px;
}
/* 方片区 */
.DA {
  background-position: -1984px -194px;
}
.D2 {
  background-position: -4px -194px;
}
.D3 {
  background-position: -170px -194px;
}
.D4 {
  background-position: -334px -194px;
}
.D5 {
  background-position: -500px -194px;
}
.D6 {
  background-position: -665px -194px;
}
.D7 {
  background-position: -830px -194px;
}
.D8 {
  background-position: -994px -194px;
}
.D9 {
  background-position: -1158px -194px;
}
.D10 {
  background-position: -1324px -194px;
}
.DJ {
  background-position: -1490px -194px;
}
.DQ {
  background-position: -1654px -194px;
}
.DK {
  background-position: -1820px -194px;
}
